.form{
    
    display: flex;
    flex-direction: column;
    
    width: 20%;
    margin:auto;
    margin-top: 150px;
    .sign{
        margin-top: 5px;
        border-radius: 5px;
    }
    .log{
        border-radius: 5px;

    }


}