<div class="container-fluid">


    
        <div   style="background-color: #e3f2fd; opacity: 0.95; border-radius: 10px;" class="navbar nav fixed-top ">
            <div style="margin-left: 5px;" class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                    
                </i>
                <strong style="font-size: 30px;">Grocery App</strong>
                <div class="form-group">
                    <input style="max-width: 50%;" type="text" class="form-control" placeholder="search products" [(ngModel)]="searchedValue" >
                </div>
                <button class="fas fa-search search-icon"></button>
    
    
            </div>
    
            <form style="margin-right:10px;" class="form-inline my-2 my-lg-0">

                

                <button id="cart" (click)="navigateToCart()" class="btn btn-primary">
                    <i id="cartf" style="font-size: 30px; margin-right: 5px;" class="fas fa-cart-arrow-down"></i>
                    <div  style="font-size: 10px;right: 13px;" class="badge bg-success">{{track}}</div>
                </button>
                <button (click)="navigateToUserOrders()" style="margin-right: 10px;" type="button" class="btn btn-outline-info">My Orders</button>
                <button (click)="signOut()" class="btn btn-outline-danger my-2 my-sm-0" type="submit"> <i class="fas fa-sign-out-alt"></i></button>
                   
               
            </form>
           
        </div>
    
   

</div>


<div style="margin-top: 100px;" class="cards card-top container-fluid">
    <div style="margin-right: 10px;" class="container d-flex">

        <div  style="cursor: pointer;" class="item">
            <img (click)="allCategoriesf()" style="width: 190px;height: 234px;" src="https://scontent.fhyd1-2.fna.fbcdn.net/v/t1.6435-9/135927273_1283277022048626_5112612138164974229_n.png?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0Z06ybcxIB0AX9-ogv7&_nc_ht=scontent.fhyd1-2.fna&oh=f7d012394cf7d04c93145a58037ab0fc&oe=6175D398">
            </div>
        <div  style="cursor: pointer;" *ngFor="let i of allCategories" class="item">

    
            <a (click)="clickedOnCategory(i.name)">
                <img src="{{i.image}}" alt="{{i.name}}">
                <h6>{{i.name}}</h6>
                
            </a>
          
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <ng-container *ngFor="let i of allProducts | filter:searchedValue:'name'">
            
                <div class="card col-md-3">
                    <img id="Pimg" src="{{i.image}}" alt="{{i.name}}">
                    <h4 id="Pname">{{i.name}}</h4>
                    <p id="pdesc">{{i.description}}</p>
                    <span id="price">₹{{i.price}}</span>

                
                    
                    
                    <button type="submit" (click)="addToCart(i);">
                        <i class="fas fa-shopping-cart"></i>
                        Add To Cart</button>


                       
                </div>
           
            

           
        </ng-container>

    </div>
</div>

<div *ngIf="allProducts.length==0" class="container">
    <div >
        <h3>No Products under this category</h3>
    </div>
</div>



